{% extends "template.html" %}
{% block title %}Analyze{% endblock title %}
{% block pageTitle %}Analysis{% endblock pageTitle %}
{% block navLink %}analyze{% endblock navLink %}

{% block body %}
  {{ super() }}
  <h5>View Usage Guide <a href="https://docs.google.com/document/d/1owFsCKhDUvF7T9SCQJTIQ-c1gQV6KgiIxk-d9Ufn7o4/edit?usp=sharing">Here</a>.</h5>
  <div class="text-center">
    <div class="btn-group justify-content-center" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="autosearch" autocomplete="off" onclick="showAutomatic()">
      <label class="btn btn-outline-primary" for="autosearch">Automatic Searching</label>
      <input type="radio" class="btn-check" name="btnradio" id="manualsearch" autocomplete="off" onclick="showManual()">
      <label class="btn btn-outline-primary" for="manualsearch">Manual Searching</label>
    </div>
  </div>
  <form method="POST" action="" enctype="multipart/form-data" id="automaticForm" class="needs-validation" novalidate>
    {{ automaticForm.hidden_tag() }}
    <div class="form-group">
        {{ automaticForm.query.label(class="form-control-label") }}
        {% if automaticForm.query.errors %}
            {{ automaticForm.query(class="form-control is-invalid") }}
                {% for error in automaticForm.query.errors %}
                    <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
        {% else %}
            <div class="input-group mb-3">
              {{ automaticForm.query(class="form-control form-control-lg") }}
              {{ automaticForm.submit1(class="btn btn-primary btn-lg") }}
            </div>
        {% endif %}
        <div class="mb-3 text-center">
          <label class="form-control-label mb-1" for="categories">Categories: </label>
          <div class="btn-group d-block mb-2" role="group" id="categories">
            {{ automaticForm.literature(class="btn-check", onclick="litSelect(this.checked)") }}
            {{ automaticForm.literature.label(class="btn btn-outline-primary") }}
  
            {{ automaticForm.science(class="btn-check", onclick="sciSelect(this.checked)") }}
            {{ automaticForm.science.label(class="btn btn-outline-danger") }}
  
            {{ automaticForm.fineArts(class="btn-check", onclick="faSelect(this.checked)") }}
            {{ automaticForm.fineArts.label(class="btn btn-outline-warning") }}

            {{ automaticForm.history(class="btn-check", onclick="hisSelect(this.checked)") }}
            {{ automaticForm.history.label(class="btn btn-outline-success") }}
            
            {{ automaticForm.currentEvents(class="btn-check") }}
            {{ automaticForm.currentEvents.label(class="btn btn-outline-success") }}
            
            {{ automaticForm.geography(class="btn-check") }}
            {{ automaticForm.geography.label(class="btn btn-outline-success") }}
            
            {{ automaticForm.religion(class="btn-check") }}
            {{ automaticForm.religion.label(class="btn btn-outline-info") }}
            
            {{ automaticForm.mythology(class="btn-check") }}
            {{ automaticForm.mythology.label(class="btn btn-outline-info") }}
  
            {{ automaticForm.philosophy(class="btn-check") }}
            {{ automaticForm.philosophy.label(class="btn btn-outline-info") }}
            
            {{ automaticForm.socialScience(class="btn-check") }}
            {{ automaticForm.socialScience.label(class="btn btn-outline-info") }}
            
            {{ automaticForm.otherAcademic(class="btn-check") }}
            {{ automaticForm.otherAcademic.label(class="btn btn-outline-secondary") }}
            
            {{ automaticForm.trash(class="btn-check") }}
            {{ automaticForm.trash.label(class="btn btn-outline-secondary") }}
          </div>
          <label class="form-control-label mb-1" for="subcategories">Subcategories: </label>
          <div class="btn-group d-block mb-2" role="group" id="subcategories">
            {{ automaticForm.americanLit(class="btn-check") }}
            {{ automaticForm.americanLit.label(class="btn btn-sm btn-outline-primary") }}

            {{ automaticForm.britishLit(class="btn-check") }}
            {{ automaticForm.britishLit.label(class="btn btn-sm btn-outline-primary") }}

            {{ automaticForm.classicalLit(class="btn-check") }}
            {{ automaticForm.classicalLit.label(class="btn btn-sm btn-outline-primary") }}

            {{ automaticForm.europeanLit(class="btn-check") }}
            {{ automaticForm.europeanLit.label(class="btn btn-sm btn-outline-primary") }}

            {{ automaticForm.worldLit(class="btn-check") }}
            {{ automaticForm.worldLit.label(class="btn btn-sm btn-outline-primary") }}

            {{ automaticForm.otherLit(class="btn-check") }}
            {{ automaticForm.otherLit.label(class="btn btn-sm btn-outline-primary") }}

            {{ automaticForm.biology(class="btn-check") }}
            {{ automaticForm.biology.label(class="btn btn-sm btn-outline-danger") }}

            {{ automaticForm.chemistry(class="btn-check") }}
            {{ automaticForm.chemistry.label(class="btn btn-sm btn-outline-danger") }}

            {{ automaticForm.physics(class="btn-check") }}
            {{ automaticForm.physics.label(class="btn btn-sm btn-outline-danger") }}

            {{ automaticForm.math(class="btn-check") }}
            {{ automaticForm.math.label(class="btn btn-sm btn-outline-danger") }}

            {{ automaticForm.otherSci(class="btn-check") }}
            {{ automaticForm.otherSci.label(class="btn btn-sm btn-outline-danger") }}

            {{ automaticForm.visualFA(class="btn-check") }}
            {{ automaticForm.visualFA.label(class="btn btn-sm btn-outline-warning") }}

            {{ automaticForm.auditoryFA(class="btn-check") }}
            {{ automaticForm.auditoryFA.label(class="btn btn-sm btn-outline-warning") }}

            {{ automaticForm.otherFA(class="btn-check") }}
            {{ automaticForm.otherFA.label(class="btn btn-sm btn-outline-warning") }}

            {{ automaticForm.americanHis(class="btn-check") }}
            {{ automaticForm.americanHis.label(class="btn btn-sm btn-outline-success") }}

            {{ automaticForm.ancientHis(class="btn-check") }}
            {{ automaticForm.ancientHis.label(class="btn btn-sm btn-outline-success") }}

            {{ automaticForm.europeanHis(class="btn-check") }}
            {{ automaticForm.europeanHis.label(class="btn btn-sm btn-outline-success") }}

            {{ automaticForm.worldHis(class="btn-check") }}
            {{ automaticForm.worldHis.label(class="btn btn-sm btn-outline-success") }}

            {{ automaticForm.otherHis(class="btn-check") }}
            {{ automaticForm.otherHis.label(class="btn btn-sm btn-outline-success") }}
          </div>
          <div>
            <button type="button" class="btn btn-dark" onclick="selectAll(false)">Unselect All</button>
            <button type="button" class="btn btn-dark" onclick="selectAll(true)">Select All</button>
          </div>
        </div>

        {{ automaticForm.difficulty.label(class="form-control-label") }}
            {% if automaticForm.difficulty.errors %}
                {{ automaticForm.difficulty(class="form-control is-invalid") }}
                    {% for error in automaticForm.difficulty.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ automaticForm.difficulty(class="form-control mb-3") }}
            {% endif %}

        {% if automaticForm.analyzeDetails.automatic.errors %}
            {{ automaticForm.analyzeDetails.automatic(class="form-control is-invalid") }}
                {% for error in automaticForm.analyzeDetails.automatic.errors %}
                    <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ automaticForm.analyzeDetails.automatic(class="form-check-input mb-3", type="checkbox", id="automatic.analyzeDetails.automatic") }}
        {% endif %}
        {{ automaticForm.analyzeDetails.automatic.label(class="form-check-label me-3") }}
      
        <div class="ms-5">
          <div id="automatic automatic group">
            {{ automaticForm.analyzeDetails.maxResults.label(class="form-control-label") }}
            {% if automaticForm.analyzeDetails.maxResults.errors %}
                {{ automaticForm.analyzeDetails.maxResults(class="form-control is-invalid") }}
                    {% for error in automaticForm.analyzeDetails.maxResults.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ automaticForm.analyzeDetails.maxResults(class="form-control mb-3") }}
            {% endif %}
          </div>
          <div id="automatic nonautomatic group">
            {{ automaticForm.analyzeDetails.unigramNum.label(class="form-control-label") }}
            {% if automaticForm.analyzeDetails.unigramNum.errors %}
                {{ automaticForm.analyzeDetails.unigramNum(class="form-control is-invalid") }}
                    {% for error in automaticForm.analyzeDetails.unigramNum.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ automaticForm.analyzeDetails.unigramNum(class="form-control mb-3") }}
            {% endif %}

            {{ automaticForm.analyzeDetails.bigramFreq.label(class="form-control-label") }}
            {% if automaticForm.analyzeDetails.bigramFreq.errors %}
                {{ automaticForm.analyzeDetails.bigramFreq(class="form-control is-invalid") }}
                    {% for error in automaticForm.analyzeDetails.bigramFreq.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ automaticForm.analyzeDetails.bigramFreq(class="form-control mb-3") }}
            {% endif %}

            {{ automaticForm.analyzeDetails.trigramFreq.label(class="form-control-label") }}
            {% if automaticForm.analyzeDetails.trigramFreq.errors %}
                {{ automaticForm.analyzeDetails.trigramFreq(class="form-control is-invalid") }}
                    {% for error in automaticForm.analyzeDetails.trigramFreq.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ automaticForm.analyzeDetails.trigramFreq(class="form-control mb-3") }}
            {% endif %}

            {{ automaticForm.analyzeDetails.quadgramFreq.label(class="form-control-label") }}
            {% if automaticForm.analyzeDetails.quadgramFreq.errors %}
                {{ automaticForm.analyzeDetails.quadgramFreq(class="form-control is-invalid") }}
                    {% for error in automaticForm.analyzeDetails.quadgramFreq.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ automaticForm.analyzeDetails.quadgramFreq(class="form-control mb-3") }}
            {% endif %}
          </div>
        </div>
    </div>
  </form>
  <form method="POST" action="" enctype="multipart/form-data" id="manualForm" class="needs-validation" novalidate>
    {{ manualForm.hidden_tag() }}
    <div class="form-group">
        {{ manualForm.jsonFile.label(class="form-control-label") }}
        {% if manualForm.jsonFile.errors %}
            {{ manualForm.jsonFile(class="form-control is-invalid") }}
                {% for error in manualForm.jsonFile.errors %}
                    <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
        {% else %}
            {{ manualForm.jsonFile(class="form-control mb-3") }}
        {% endif %}
      
        {% if manualForm.analyzeDetails.automatic.errors %}
            {{ manualForm.analyzeDetails.automatic(class="form-control is-invalid") }}
                {% for error in manualForm.analyzeDetails.automatic.errors %}
                    <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ manualForm.analyzeDetails.automatic(class="form-check-input mb-3", type="checkbox", id="manual.analyzeDetails.automatic") }}
        {% endif %}
        {{ manualForm.analyzeDetails.automatic.label(class="form-check-label me-3") }}
      
        <div class="ms-5">
          <div id="manual automatic group">
            {{ manualForm.analyzeDetails.maxResults.label(class="form-control-label") }}
            {% if manualForm.analyzeDetails.maxResults.errors %}
                {{ manualForm.analyzeDetails.maxResults(class="form-control is-invalid") }}
                    {% for error in manualForm.analyzeDetails.maxResults.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ manualForm.analyzeDetails.maxResults(class="form-control mb-3") }}
            {% endif %}
          </div>
          <div id="manual nonautomatic group">
            {{ manualForm.analyzeDetails.unigramNum.label(class="form-control-label") }}
            {% if manualForm.analyzeDetails.unigramNum.errors %}
                {{ manualForm.analyzeDetails.unigramNum(class="form-control is-invalid") }}
                    {% for error in manualForm.analyzeDetails.unigramNum.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ manualForm.analyzeDetails.unigramNum(class="form-control mb-3") }}
            {% endif %}

            {{ manualForm.analyzeDetails.bigramFreq.label(class="form-control-label") }}
            {% if manualForm.analyzeDetails.bigramFreq.errors %}
                {{ manualForm.analyzeDetails.bigramFreq(class="form-control is-invalid") }}
                    {% for error in manualForm.analyzeDetails.bigramFreq.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ manualForm.analyzeDetails.bigramFreq(class="form-control mb-3") }}
            {% endif %}

            {{ manualForm.analyzeDetails.trigramFreq.label(class="form-control-label") }}
            {% if manualForm.analyzeDetails.trigramFreq.errors %}
                {{ manualForm.analyzeDetails.trigramFreq(class="form-control is-invalid") }}
                    {% for error in manualForm.analyzeDetails.trigramFreq.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ manualForm.analyzeDetails.trigramFreq(class="form-control mb-3") }}
            {% endif %}

            {{ manualForm.analyzeDetails.quadgramFreq.label(class="form-control-label") }}
            {% if manualForm.analyzeDetails.quadgramFreq.errors %}
                {{ manualForm.analyzeDetails.quadgramFreq(class="form-control is-invalid") }}
                    {% for error in manualForm.analyzeDetails.quadgramFreq.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
            {% else %}
                {{ manualForm.analyzeDetails.quadgramFreq(class="form-control mb-3") }}
            {% endif %}
          </div>
        </div>
    </div>
    {{ manualForm.submit2(class="btn btn-primary") }}
  </form>
{% endblock body %}

{% block results %}
{{ super() }}
{% if data != None %}
{% if noResults %}
<h3 class="text-center">No Questions matched Query.</h3>
{% else %}
<div id="data">
  <h5 class="lead text-center">If any clues are not properly filtered, namely they are just parts of the standard Quizbowl canon, please submit them to this <a href="https://forms.gle/3iiSSbspPfuEDvTe7">form</a>.</h5>
  <h5 class="lead text-center mb-4">Copy any clue by simply clicking on the clue card!</h5>
  <div class="text-center">
  <h3>Unigrams Clues(By Frequency): </h3>
  {% if data[0] %}
  <div class="row g-4 text-center justify-content-center mb-4">
    {% for e in data[0] %}
    <div class="col-sm-2">
      <div class="card h-100" data-bs-toggle="tooltip" title="Copy!" data-bs-trigger="click" onclick="ngramClick(this, '{{e}}')" onmouseleave="hideTooltip(this)">
        <div class="card-body">
          <p class="card-text">{{e}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
  <button type="button" class="btn btn-primary mb-3 w-50" onclick="copyToClipboard(String.raw`{{data[4][0]}}`);">Copy Unigrams</button>
  </div>
  {% else %}
  <h5>No unigrams found!</h5>
  {% endif %}
  <h3 class="mt-3">Bigrams Clues(By PMI Score): </h3>
  {% if data[1] %}
  <div class="row g-4 text-center justify-content-center mb-4">
    {% for e in data[1] %}
    <div class="col-sm-2">
      <div class="card h-100" data-bs-toggle="tooltip" title="Copy!" data-bs-trigger="click" onclick="ngramClick(this, '{{e}}')" onmouseleave="hideTooltip(this)">
        <div class="card-body">
          <p class="card-text">{{e}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
  <button type="button" class="btn btn-primary mb-3 w-50" onclick="copyToClipboard(String.raw`{{data[4][1]}}`);">Copy Bigrams</button>
  </div>
  {% else %}
  <h5>No bigrams found!</h5>
  {% endif %}
  <h3 class="mt-3">Trigrams Clues(By PMI Score): </h3>
  {% if data[2] %}
  <div class="row g-4 text-center justify-content-center mb-4">
    {% for e in data[2] %}
    <div class="col-sm-2">
      <div class="card h-100" data-bs-toggle="tooltip" title="Copy!" data-bs-trigger="click" onclick="ngramClick(this, '{{e}}')" onmouseleave="hideTooltip(this)">
        <div class="card-body">
          <p class="card-text">{{e}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
  <button type="button" class="btn btn-primary mb-3 w-50" onclick="copyToClipboard(String.raw`{{data[4][2]}}`);">Copy Trigrams</button>
  </div>
  {% else %}
  <h5>No Trigrams found!</h5>
  {% endif %}
  <h3 class="mt-3">Quadgrams Clues(By PMI Score): </h3>
  {% if data[3] %}
  <div class="row g-4 text-center justify-content-center mb-4">
    {% for e in data[3] %}
    <div class="col-sm-2">
      <div class="card h-100" data-bs-toggle="tooltip" title="Copy!" data-bs-trigger="click" onclick="ngramClick(this, '{{e}}')" onmouseleave="hideTooltip(this)">
        <div class="card-body">
          <p class="card-text">{{e}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
  <button type="button" class="btn btn-primary mb-3 w-50" onclick="copyToClipboard(String.raw`{{data[4][3]}}`);">Copy Quadgrams</button>
  </div>
  {% else %}
  <h5>No quadgrams found!</h5>
  {% endif %}
  </div>
</div>
<h3 class="mt-3">Questions: </h3>
<p class="text-muted m-2"><b>{{questions.__len__()}} Questions Found</b></p>
{% for t in questions %}
<div class="card m-2 mb-4" onclick="questionClick(this, '{{t['_id']}}')" data-bs-toggle="tooltip" title="Copy question id" data-bs-trigger="click" onmouseleave="hideTooltip(this)">
    <div class="card-header">
        <b class="card-title">{{t['setName']}} | {{t['category']}} | {{t['subcategory']}} | {{t['difficulty']}}</b>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                {{t['question']}}
            </li>
            {% if 'formatted_answer' in t %}
            <li class="list-group-item">Answer: {{t['formatted_answer']|safe}}</li>
            {% else %}
            <li class="list-group-item">Answer: {{t['answer']}}</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endfor %}
{% endif %}
{% endif %}
{% endblock results %}

{% block script %}
  <script>
    function loading() {
      const data = document.getElementById("data")
      if(data !== null){
        data.style.display = 'none';
      }
      const spinner = document.getElementById("loadSpinner");
      spinner.parentElement.style.display = 'block';
      spinner.style.display = 'block';
    }
    
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          } else {
            loading();
          }
    
          form.classList.add('was-validated')
        }, false)
      })
    })()
    
    const automaticCheckbox = document.getElementById('automatic.analyzeDetails.automatic');
    const automaticAutomatic = document.getElementById('automatic automatic group');
    const automaticNonautomatic = document.getElementById('automatic nonautomatic group');

    function updateAutomaticForm() {
      if (automaticCheckbox.checked) {
        automaticAutomatic.style.display = 'block';
        automaticNonautomatic.style.display = 'none';
      } else {
        automaticAutomatic.style.display = 'none';
        automaticNonautomatic.style.display = 'block';
      }
    }
    updateAutomaticForm();
    
    automaticCheckbox.addEventListener('click', updateAutomaticForm);
    
    const manualCheckbox = document.getElementById('manual.analyzeDetails.automatic');
    const manualAutomatic = document.getElementById('manual automatic group');
    const manualNonautomatic = document.getElementById('manual nonautomatic group');

    function updateManualForm() {
      if (manualCheckbox.checked) {
        manualAutomatic.style.display = 'block';
        manualNonautomatic.style.display = 'none';
      } else {
        manualAutomatic.style.display = 'none';
        manualNonautomatic.style.display = 'block';
      }
    }
    updateManualForm();
    
    manualCheckbox.addEventListener('click', updateManualForm);

    function ngramClick(ele, message) {
      // Check if Shift key is down.
      if (window.event.shiftKey) {
        // Open a new analyze tab with the query as the ngram.
        // Send a POST request to the analyze page with the query as the ngram.
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/analyze';
        form.target = '_blank';
        form.style.display = 'none';
        const query = document.createElement('input');
        query.type = 'text';
        query.name = 'query';
        query.value = message;
        form.appendChild(query);
        const categories = document.createElement('input');
        categories.type = 'text';
        categories.name = 'categories';
        categories.value = 'all';
        form.appendChild(categories);
        const subcategories = document.createElement('input');
        subcategories.type = 'text';
        subcategories.name = 'subcategories';
        subcategories.value = 'all';
        form.appendChild(subcategories);
        const difficulty = document.createElement('input');
        difficulty.type = 'text';
        difficulty.name = 'difficulty';
        difficulty.value = '';
        form.appendChild(difficulty);
        const analyzeDetails = document.createElement('input'); 
        analyzeDetails.type = 'checkbox';
        analyzeDetails.name = 'analyzeDetails-automatic';
        analyzeDetails.checked = true;
        form.appendChild(analyzeDetails);
        const maxResults = document.createElement('input');
        maxResults.type = 'text';
        maxResults.name = 'analyzeDetails-maxResults';
        maxResults.value = '15';
        analyzeDetails.appendChild(maxResults);
        document.body.appendChild(form);
        form.submit();
        ele.setAttribute("data-bs-original-title", "Opened in new tab!");
      } else {
        copyToClipboard(String.raw`${message}`)
        ele.setAttribute("data-bs-original-title", "Copied!");
      }
    }

    function questionClick(ele, message) {
      copyToClipboard(String.raw`${message}`)
      ele.setAttribute("data-bs-original-title", String.raw`Copied question id to clipboard: ${message}`)
    }
    
    function hideTooltip(ele) {
      if(ele.getAttribute("data-bs-original-title") == "Copied!" || ele.getAttribute("data-bs-original-title") == "Opened in new tab!" ){
        ele.click();
        ele.setAttribute("data-bs-original-title", "Copy!");
      } else if (ele.getAttribute("data-bs-original-title").includes("Copied question id")) {
        ele.click();
        ele.setAttribute("data-bs-original-title", "Copy question id");
      }
    }
    const automaticForm = document.getElementById("automaticForm");
    const manualForm = document.getElementById("manualForm");
    function showAutomatic() {
      automaticForm.style.display = 'block';
      manualForm.style.display = 'none';
    }
    {% if showAutomatic %}
      showAutomatic();
      document.getElementById("autosearch").checked = true;
    {% else %}
      showManual();
      document.getElementById("manualsearch").checked = true;
    {% endif %}
    
    function showManual() {
      automaticForm.style.display = 'none';
      manualForm.style.display = 'block';
    }


    const categories = document.getElementById("categories");
    const subcategories = document.getElementById("subcategories");
    
    function selectAll(val) {
      for(let i in categories.children){
        categories.children[i].checked=val;
      }
      for(let i in subcategories.children){
        subcategories.children[i].checked=val;
      }
    }

    function litSelect(val) {
      const subIds = ["americanLit", "britishLit", "classicalLit", "europeanLit", "worldLit", "otherLit"];
      for(let i in subIds){
        document.getElementById(subIds[i]).checked = val;
      }      
    }

    function sciSelect(val) {
      const subIds = ["biology", "chemistry", "physics", "math", "otherSci"];
      for(let i in subIds){
        document.getElementById(subIds[i]).checked = val;
      }      
    }

    function faSelect(val) {
      const subIds = ["visualFA", "auditoryFA", "otherFA"];
      for(let i in subIds){
        document.getElementById(subIds[i]).checked = val;
      }      
    }

    function hisSelect(val) {
      const subIds = ["americanHis", "ancientHis", "europeanHis", "worldHis", "otherHis"];
      for(let i in subIds){
        document.getElementById(subIds[i]).checked = val;
      }      
    }
    
    {% if data != None %}
      const spinner = document.getElementById("loadSpinner");
      spinner.style.display = 'none';
      document.getElementById("scrollTo").scrollIntoView();
    {% endif %}
  </script>
{% endblock script %}