{% extends "template.html" %}
{% block title %}Home{% endblock title %}
{% block pageTitle %}Quizolytics Home{% endblock pageTitle %}
{% block navLink %}home{% endblock navLink %}
{% block body %}
{{ super() }}
<div class="mb-5">
<h5>Quizolytics is a natural language processer to analyze question datasets and extract meaningful insights from it. It finds the most common unigrams, bigrams, trigrams, and quadgrams throughout questions by calculating the PMI to evaluate the information carried by a certain n-gram. Currently, this website is in V4. More features are likely to come.</h5>
<a href="analyze"><button type="button" class="btn btn-primary mt-3">Start Analyzing Now</button></a>
</div>
{% endblock body %}