<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quizolytics - {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5800fa36a9.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock head %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="/">
      <img src="{{ url_for('static', filename = 'quizolytics_logo.png') }}" alt="Logo" width="175px">
<!--       Quizolytics -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" id="home" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="analyze" href="/analyze">Analyze</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  {% block wholebody %}
  <div class="container my-3">
    {% block body %}
      <h1>{% block pageTitle %}{% endblock pageTitle %}</h1>
      <hr>
      {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == "success" %}
              <div class="alert alert-primary" role="alert">{{ message }}</div>
            {% elif category == "error" %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endblock body %}
    {% if data != None %}
      {% block results %}
      <h1 class="mt-5">Results</h1>
      <hr>
      {% endblock results %}
    {% endif %}
  </div>
  {% endblock wholebody %}
  <footer class="bg-dark text-white row mx-0 py-4 w-100 mt-auto">
      <div class="col text-center mx-3">
      Copyright © 2022 Quizolytics. All rights reserved.
      </div>
      <div class="col mx-3">
        <a class="text-white mx-2" href="/">Home</a>
        <a class="text-white mx-2" href="/analyze">Analyze</a>
      </div>
  </footer>
  {% block script %}{% endblock script %}
    <script>
      const navLink = document.getElementById({% block navLink %}{% endblock navLink %}.id);
      navLink.classList.add("active");
    </script>
    <script>
      function copyToClipboard(copyText) {
        rawString = String.raw`${copyText}`;
        navigator.clipboard.writeText(rawString);
        console.log(rawString);
      }
    </script>
  </body>
</html>